.mainHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}


.mainButtons {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
  }

  button {
    background-color: #0a66c2;
    color: white;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  
    &:hover {
      background-color: #004182;
      transition: all 0.3s ease-out;
    }

    &:active {
      transform: translate(0rem, 0.75rem);
    }

    .buttonContent {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        height: 1.4rem;
      }

      span {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
    }
  }
  


  @media only screen and (max-width: 320px) {
    img {
      display: none;
    }
  }
}






