.sideBarContacts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;

  svg {
    height: 1.8rem;
    &:hover {
      transition: all 0.3s ease-out;
    }
  }

  a:hover {
    .github {
      fill: rgb(155, 81, 224);
    }
    .linkedin {
      fill: #0a66c2;
    }

    .telegram {
      fill: #3390ec;
    }
  }
}

