.content {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 6px 3px grey;
  background-color: blanchedalmond;
  height: auto;
  width: auto;
  border-radius: 15px;
}

.contacts {
  flex: 1;
  border-right: 1px solid rgb(215, 213, 213);
  padding: 10px;
  height: auto;
  width: auto;
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.contacts img {
  width: auto;
  height: 15rem;
}
.contacts h2 {
  font-size: 18px;
}

.contactsBlocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts div:nth-last-child(n + 2) {
  border-bottom: 1px solid rgb(215, 213, 213);
  height: auto;
  padding: 1px;
}

.contacts span {
  color: black;
}

.socialMedia {
  display: flex;
justify-content: center;
padding: 20px;

}

.socialMedia svg {
  margin: 10px;
  font-size: 2rem;
  cursor: pointer;
}

.socialMedia :hover {
  color: grey;
  transition: all 0.3s ease-out;
}

.main {
  flex: 3;
  padding: 20px;
  height: auto;
  width: auto;
  background-color: white;
  text-align: left;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.mainButtons {
  display: flex;
  align-items: center;
}
.mainButtons a {
  text-decoration: none;
}

.mainButtons button {
  background-color: rgb(0, 94, 255);
  color: white;
  transition: all 0.3s ease-out;
  padding: 0.3rem 1rem;
  border-radius: 6px;
  margin: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
}

.mainButtons button:hover,
button:active {
  background-color: rgb(6, 74, 192);
}

.mainSkills {
  border-top: 1px solid rgb(233, 228, 228);
}

@media only screen and (max-width: 1444px) {
  .App {
    padding: 30px 100px;
  }

  .main,
  .contacts {
    padding: 10px;
  }
}

@media only screen and (max-width: 950px) {
  .App {
    padding: 30px 50px;
  }

  .content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }

  .main {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
  }
  .contacts {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
  }
}
