.wrapper {
  display: flex;
  justify-content: center;
  margin: 10rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 0px 6px 3px grey;
  background-color: blanchedalmond;
  height: auto;
  width: auto;
  border-radius: 15px;
}

.contacts {
  border-right: 1px solid grey;
  padding: 20px;
  height: auto;
  width: auto;
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.contacts img {
width: auto;
height: 15rem;

}
.contacts h2 {
  margin: 5px;
}

.contacts div:nth-last-child(n + 2) {
  border-bottom: 1px solid grey;
  height: auto;
  padding: 2px;
}

.contacts span {
  color: rgb(0, 94, 255);
}

.socialMedia svg {
  margin: 10px;
  font-size: 2rem;
  cursor: pointer;
}

.socialMedia svg :hover {
  color: rgb(0, 94, 255);
  transition: all 0.3s ease-out;
}

.main {
  padding: 20px;
  height: auto;
  width: auto;
  background-color: white;
  text-align: left;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.mainButtons {
  display: flex;
  align-items: center;
}
.mainButtons a {
  text-decoration: none;
}

.mainButtons button {
  background-color: rgb(0, 94, 255);
  color: white;
  transition: all 0.3s ease-out;
  padding: 0.3rem 1rem;
  border-radius: 6px;
  margin: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
}

.mainButtons button:hover,
button:active {
  background-color: rgb(6, 74, 192);

}

.mainSkills {
  border-top: 1px solid grey;
}

@media only screen and (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  }

  .main {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
   
  }
  .contacts {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
  }


  /* .mainButtons button {
    padding: 0.1rem 0.5rem;
    border-radius: 6px;
    margin: 1px;
  } */

  /* .main,
  .contacts {
    padding: 10px;
  } */
}

/* @media only screen and (max-width: 425px) {
  .mainHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .contacts h2,
  .main h2 {
    font-size: 16px;
  }
  .main,
  .contacts {
    padding: 10px;
  }
  .contacts span {
    font-size: 12px;
  }
  .mainButtons button {
    padding: 0.1rem 0.5rem;
    border-radius: 6px;
    margin: 1px;
  }

  .mainButtons {
    display: flex;
    flex-direction: column;
  }
} */
