.App {
  margin: 0 auto;
  max-width: 75rem;
  display: flex;
  box-shadow: 0px 0px 6px 3px grey;
  background-color: white;
  width: 100%;
  border-radius: 1rem;
}

@media only screen and (max-width: 800px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
